* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body, h1, h2, p, img, small, ul, li, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

footer, header, nav, section {
  display: block;
}

body {
  font-family: Tahoma, san-serif;
  color: #000;
  background-image: url('../assets/img/background.png');
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  }

a:hover {
  color: #c7c0cf;
}

a:link {
  -webkit-tap-highlight-color: #fcd700;
}

header {
  background: #c4c4c4 url('../assets/img/acme-corp.jpg') no-repeat 4% center;
  background-size: 300px;
  height: 100px;
  margin-bottom: 75px;
  box-shadow: 0 0 7px #4d4d4d;
}

ul {
  color: white;
  position: absolute;
  right: 3%;
  margin-top: 30px;
  list-style: none;
}

li {
  display: inline-block;
  padding: 10px 30px;
  font-size: 21px;
  text-shadow: 1px 1px 1px #2d2d2d;
  border-radius: 10px;
  font-weight: bold;
}

li.button {
  background-color: #4067ca;
  box-shadow: inset 1px 1px 3px #3353a2;
}

.content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  margin-bottom: 75px;
  box-shadow: 0 0 10px gray;
}

hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 1px 1px 3px gray;
  border-bottom: solid 2px #f5f5f5;
  display: block;
  height: 1px;
  border-top: 1px solid #ccc;
  padding: 0;
}

p {
  font-size: 32px;
  margin-bottom: 15px;
}

h1 {
  font-size: 46px;
  margin-bottom: 30px;
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 30px;
  color: #b2b2b2;
  text-shadow: 0px -1px 0px gray;
}

small {
  font-size: 75%;
}


/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {


}